@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.header {
  background-color: #111; }
  .header .logo {
    position: fixed;
    margin-top: 34px; }
    .header .logo a {
      font-family: Lato;
      font-size: 24px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      outline: none; }
  .header .top-nav {
    margin-top: 42px;
    position: fixed;
    right: 85px;
    width: 80%; }
    .header .top-nav li {
      display: inline-block;
      margin-left: 3%; }
      .header .top-nav li a {
        position: relative;
        color: #fff;
        display: block;
        width: 100%;
        height: 15px;
        text-transform: uppercase;
        font-family: Lato;
        font-size: 14px;
        text-decoration: none;
        height: 15px; }
        .header .top-nav li a:hover {
          color: #dbdbdb; }
        .header .top-nav li a::after {
          content: "";
          position: absolute;
          top: 30px;
          left: 50%;
          width: 0%;
          height: 3px;
          background-color: #424242;
          -webkit-transition: width 0.5s;
          -o-transition: width 0.5s;
          transition: width 0.5s;
          -webkit-animation-timing-function: ease-in-out;
                  animation-timing-function: ease-in-out; }
        .header .top-nav li a:hover::after {
          width: 50%;
          left: 0%;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
        .header .top-nav li a::before {
          content: "";
          position: absolute;
          top: 30px;
          right: 50%;
          width: 0%;
          height: 3px;
          background-color: #fcac45;
          -webkit-transition: width 0.5s;
          -o-transition: width 0.5s;
          transition: width 0.5s;
          -webkit-animation-timing-function: ease-in-out;
                  animation-timing-function: ease-in-out; }
        .header .top-nav li a:hover::before {
          width: 50%;
          right: 0%;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
  .header .name {
    font-family: "OpenSans-Light";
    text-transform: uppercase;
    font-size: 44px;
    color: #999999;
    margin-top: 280px; }
    .header .name span {
      font-weight: bold;
      color: #fcac45; }
  .header .info {
    margin-top: 20px;
    font-family: OpenSans;
    font-weight: bold;
    font-size: 20px;
    color: #fff; }
  .header #scroll {
    margin: 230px auto 50px auto;
    padding: 9px 17px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    font-size: 24px;
    border: 2px solid #c3c3c3;
    background-color: transparent;
    outline: none; }
    .header #scroll:hover {
      border-color: #fff; }
    .header #scroll:active {
      border-color: #8e8e8e; }
    .header #scroll .fa-long-arrow-down {
      color: #c3c3c3; }
      .header #scroll .fa-long-arrow-down:active {
        color: #8e8e8e; }

.about h5 {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  text-transform: uppercase;
  margin: 101px auto 15px auto; }

.about .title {
  font-family: "OpenSans-Regular";
  font-size: 34px;
  text-transform: uppercase;
  margin-top: -5px; }
  .about .title span {
    font-weight: bold; }

.about .long {
  margin-top: -20px; }

.about .info {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  color: #6c6c6c;
  margin: 15px auto 40px auto; }

.about .fa-dot-circle-o {
  font-size: 18px;
  color: #5a5a5a;
  font-weight: bold;
  margin-bottom: 15px; }
  .about .fa-dot-circle-o span {
    font-weight: 100;
    font-size: 16px; }

.about button {
  font-family: "OpenSans-Semibold";
  font-size: 12px;
  text-transform: uppercase;
  padding: 17px 23px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #7f7f7f;
  color: #7f7f7f;
  background-color: transparent;
  margin-top: 20px; }
  .about button i {
    padding-right: 10px;
    font-size: 14px;
    color: #7f7f7f; }
  .about button:hover {
    background-color: #7f7f7f;
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .about button:hover i {
      color: #fff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

.about .mac {
  margin-top: 105px; }
